.container {
  margin: 2rem;
}

.container header {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  margin-bottom: 3rem;
  align-items    : center;
}

.container header > h1 {
  text-align   : center;
  margin-bottom: 2rem;
  color        : var(--green);
}

.container header img {
  flex     : 1;
  width    : 100%;
  max-width: 350px;
}

.container header > div {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
}

.container header > div h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--text);
  font-weight: 600;
}


