.carousel {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: center;
  align-items    : center;
  padding        : 2rem;
  overflow-y     : hidden;
  overflow-x     : hidden;
  gap            : 2rem;
}

@media(max-width:600px) {
  .carousel {
    flex-wrap      : nowrap;
    justify-content: flex-start;
    overflow-x     : auto;
  }
}